In [48]:
import pandas as pd
import matplotlib.pyplot as plt
# Load the Excel file into a DataFrame
excel_file_path = 'C:/Users/baha eddine/Desktop/PCD2/Multiphased_feature_selection/Cross-correlation/DS_after_Correlation_final.xlsx'
df = pd.read_excel(excel_file_path)

In [49]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [50]:
X = df.drop(columns=['Refact_Sum'])
y = df['Refact_Sum']

In [51]:
from sklearn.preprocessing import MinMaxScaler

# Scale the input data to a range of [0, 1]
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [60]:

# Initialize SelectKBest with chi2 scoring function
selector = SelectKBest(score_func=chi2, k=24)

# Fit the selector to your data
selector.fit(X_scaled, y)

# Get the indices of the selected features
selected_indices = selector.get_support(indices=True)

# Get the names of the selected features
selected_features = X.columns[selected_indices]

selected_features

Index(['NL', 'NLE', 'WMC', 'CBO', 'CBOI', 'NII', 'NOI', 'RFC', 'CLOC', 'DLOC',
       'TCLOC', 'LLOC', 'LOC', 'NG', 'NLG', 'NLM', 'NLPM', 'NOS', 'TLLOC',
       'TLOC', 'TNLG', 'TNLM', 'TNLPM', 'TNOS'],
      dtype='object')

In [61]:
len(selected_features)

24

In [66]:
# on vas just remplacer le metric de DLOC by LCOM5 metric
final_col=['LCOM5']
for col in selected_features :
    if col not in ['DLOC']:
        final_col.append(col)
        
final_col

['LCOM5',
 'NL',
 'NLE',
 'WMC',
 'CBO',
 'CBOI',
 'NII',
 'NOI',
 'RFC',
 'CLOC',
 'TCLOC',
 'LLOC',
 'LOC',
 'NG',
 'NLG',
 'NLM',
 'NLPM',
 'NOS',
 'TLLOC',
 'TLOC',
 'TNLG',
 'TNLM',
 'TNLPM',
 'TNOS']

In [73]:
# LCOM5: Lack of Cohesion in Methods version 5 
# NL: Nesting Level
# NLE: Nesting Level Else-if
# WMC :Weighted Methods per Class
# CBO: Coupling Between Objects
# CBOI: Coupling Between Objects Classes Inverse 
# NII:Number of incoming invocation 
# NOI: Number of Outgoing invocations 
# RFC :Response For a Class
# CLOC :Commentt Lines of Code 
# TCLOC : Total Commentt Lines of Code 
# LLOC: Logical Lines of Code
# TLLOC: Total Logical Lines of Code
# LOC : Line Of Code 
# TLOC : Total Line Of Code 
# NG : Number of getters 
# NLG : Number of Local getters
# NLM : Number of Local Methods
# NLPM: Number of local public Methods
# NOS: number of statements 
# TNLG: Total Number of local Getters 
# TNLM : Total number of Local Methods 
# TNLPM: Total number of local public Methods
# TNOS : Total Number of Statements

In [68]:
for col in df.columns:
    if col not in final_col and col not in ['Refact_Sum']:
        df=df.drop(col,axis=1)
df

,LCOM5,NL,NLE,WMC,CBO,CBOI,NII,NOI,RFC,CLOC,...,NLM,NLPM,NOS,TLLOC,TLOC,TNLG,TNLM,TNLPM,TNOS,Refact_Sum
0,2,6,6,140,32,43,35,47,83,107,...,36,32,323,571,756,5,40,36,336,0
1,1,0,0,4,3,1,1,1,5,32,...,4,4,4,18,49,0,4,4,4,0
2,1,2,2,45,5,1,0,5,15,116,...,10,5,106,233,420,7,13,8,123,0
3,1,2,2,7,1,1,2,1,5,4,...,4,4,19,41,45,1,4,4,19,0
4,3,3,3,38,3,9,16,0,22,48,...,22,22,61,136,199,2,22,22,61,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4748,5,4,4,23,3,0,0,0,10,73,...,10,10,52,74,157,0,10,10,52,0
4749,3,1,1,8,1,0,0,0,5,13,...,5,4,13,27,40,0,5,4,13,0
4750,3,1,1,9,1,0,0,0,6,11,...,6,5,15,31,43,1,6,5,15,0
4751,3,3,2,9,0,0,0,0,4,31,...,4,4,18,32,60,0,4,4,18,0
4752,0,0,0,1,0,0,0,0,1,10,...,1,1,1,6,6,0,1,1,1,0

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4753 entries, 0 to 4752
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LCOM5       4753 non-null   int64
 1   NL          4753 non-null   int64
 2   NLE         4753 non-null   int64
 3   WMC         4753 non-null   int64
 4   CBO         4753 non-null   int64
 5   CBOI        4753 non-null   int64
 6   NII         4753 non-null   int64
 7   NOI         4753 non-null   int64
 8   RFC         4753 non-null   int64
 9   CLOC        4753 non-null   int64
 10  TCLOC       4753 non-null   int64
 11  LLOC        4753 non-null   int64
 12  LOC         4753 non-null   int64
 13  NG          4753 non-null   int64
 14  NLG         4753 non-null   int64
 15  NLM         4753 non-null   int64
 16  NLPM        4753 non-null   int64
 17  NOS         4753 non-null   int64
 18  TLLOC       4753 non-null   int64
 19  TLOC        4753 non-null   int64
 20  TNLG        4753 non-null   int64
 21  TNLM        4753 non-null   int64
 22  TNLPM       4753 non-null   int64
 23  TNOS        4753 non-null   int64
 24  Refact_Sum  4753 non-null   int64
dtypes: int64(25)
memory usage: 928.4 KB

In [70]:
df.describe()

,LCOM5,NL,NLE,WMC,CBO,CBOI,NII,NOI,RFC,CLOC,...,NLM,NLPM,NOS,TLLOC,TLOC,TNLG,TNLM,TNLPM,TNOS,Refact_Sum
count,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,...,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000,4753.000000
mean,1.853987,1.005681,0.918788,9.871870,4.079318,2.952241,3.460341,3.922575,9.200926,9.846202,...,5.278351,4.349674,26.483905,57.172943,76.776562,1.316011,6.445403,5.344624,29.454029,0.015780
std,3.371145,1.495563,1.282872,19.748529,5.897752,11.000327,16.598451,10.018496,16.023769,31.471964,...,8.549996,7.508733,73.591689,119.826927,162.283017,3.576937,10.779451,9.330757,80.168239,0.124635
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,...,1.000000,1.000000,2.000000,9.000000,11.000000,0.000000,1.000000,1.000000,2.000000,0.000000
50%,1.000000,0.000000,0.000000,4.000000,2.000000,1.000000,0.000000,1.000000,4.000000,1.000000,...,3.000000,2.000000,7.000000,21.000000,28.000000,0.000000,3.000000,2.000000,8.000000,0.000000
75%,2.000000,2.000000,1.000000,10.000000,5.000000,2.000000,1.000000,4.000000,10.000000,6.000000,...,6.000000,5.000000,24.000000,57.000000,75.000000,1.000000,7.000000,6.000000,27.000000,0.000000
max,78.000000,18.000000,9.000000,413.000000,124.000000,409.000000,503.000000,223.000000,299.000000,613.000000,...,133.000000,103.000000,3036.000000,3785.000000,4888.000000,50.000000,133.000000,120.000000,3207.000000,1.000000

In [71]:
# Save the DataFrame to an Excel file after Wilcoxon method
df.to_excel('C:/Users/baha eddine/Desktop/PCD2/Multiphased_feature_selection/SelectKbest/DS_after_Selectkbest.xlsx', index=False)

In [72]:
# Save the DataFrame to an Excel file after Wilcoxon method
df.to_excel('C:/Users/baha eddine/Desktop/PCD2/Multiphased_feature_selection/DS_feature_selection.xlsx', index=False)